/* Estilos globales para el cuerpo del documento */
body {
  margin: 0;
  padding: 0;
  background: url("../images/Solaire.jpg"); /* Fondo de la página */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Estilos para el área principal de contenido */
main {
  width: 30%;
  margin: auto;
  padding: 1em 8vw;
  background: white;
  box-shadow: 0 0 20px #ddd; /* Sombra alrededor del área principal */
}

/* Estilos para el título principal */
h1 {
  text-align: center;
  color: #1F5F74;
  border-bottom: 1px solid #C4CBCE;
  padding-bottom: .2em;
}

/* Estilos para los elementos del formulario */
form > div {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 3px;
}

/* Estilos para la imagen del formulario */
form img {
  width: 200px;
  border-radius: 50%;
  border: 6px solid #AAA;
}

/* Estilos para el primer div del formulario */
form div:first-child {
  align-items: center;
}

/* Estilos para el input de archivo oculto en el primer div del formulario */
form div:first-child input {
  display: none;
}

/* Estilos para la etiqueta del primer div del formulario */
form div:first-child label {
  background: #1F5F74;
  color: white;
  padding: 6px 20px;
  cursor: pointer;
  border-radius: 3px;
}

/* Estilos para la sección de género del formulario */
.genero {
  flex-direction: row;
}

/* Estilos para los campos de entrada del formulario */
form input {
  padding: 8px 4px;
  border: 1px solid #AAA;
  border-radius: 3px;
}

/* Estilos específicos para los input de tipo radio dentro de la sección de género */
.genero input[type="radio"] {
  margin-right: auto;
}

/* Estilos para el botón del formulario */
form button {
  padding: 8px 20px;
  border: 1px solid darkgreen;
  width: 50%;
  background: #36551F;
  color: white;
  border-radius: 3px;
}
